<!DOCTYPE html>
<html>
   <head>
      <!-- Basic -->
      <meta charset="utf-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <!-- Mobile Metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
      <!-- Site Metas -->
      <meta name="keywords" content="" />
      <meta name="description" content="" />
      <meta name="author" content="" />
      <link rel="shortcut icon" href="/static/images/logo.png" type="">
      <title>Blog</title>
   </head>
   <body>

    <h1>Log User</h1>

    <form method="post">
       {% csrf_token %}
       <label for="email">
          Email
         <input type="email" name="email" id="email">
      </label> <br><br>
       <label for="password">
          Password
         <input type="password" name="password" id="password">
      </label> <br><br>
      <button type="submit">Se connecter</button>
    </form>
   </body>
</html>