<!DOCTYPE html>
<html>
   <head>
      <!-- Basic -->
      <meta charset="utf-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <!-- Mobile Metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
      <!-- Site Metas -->
      <meta name="keywords" content="" />
      <meta name="description" content="" />
      <meta name="author" content="" />
      <link rel="shortcut icon" href="/static/images/logo.png" type="">
      <title>Register</title>
   </head>
   <body>

    <h1>Register User</h1>

    <form method="post">
      {% if messages %}
      {% for m in messages %}
      <p style="background-color: teal; padding: 10px; margin: 10px; color: #fff;">{{m}}</p>
      {% endfor %}
      {% endif %}
      {% csrf_token %}
       {% csrf_token %}
       <label for="first_name">
          first_name
         <input type="text" name="first_name" id="first_name">
      </label> <br><br>
       <label for="last_name">
          last_name
         <input type="text" name="last_name" id="last_name">
      </label> <br><br>
       <label for="email">
          Email
         <input type="email" name="email" id="email">
      </label> <br><br>
       <label for="password">
          Password
         <input type="password" name="password" id="password">
      </label> <br><br>
      <button type="submit">S'enregister</button> or <a href="{% url 'login' %}">login</a>
    </form>
   </body>
</html>